
#bio{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(7,13fr);
    grid-template-rows: repeat(10, 9.25vh);
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
    overflow: hidden;
}
#biotext{
    font-size: 4em;
    color: white;
    grid-column: 2/4;
    grid-row: 2;
    word-wrap: break-word;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top:3vw
}
#biobread{
    grid-column: 2/5;
    grid-row: 3/7;
    color: white;
    word-wrap: break-word;
    margin-left: 10%;
    margin-top: 2vw;
}
#pro{
    /* background-color:#e8e4d2; */
    position: absolute;
    display:grid;
    grid-template-columns: repeat(7,13fr);
    grid-template-rows: repeat(10, 9.25vh);
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;

}
#proheader{
    font-size: 4em;
    color: black;
    grid-column: 2/4;
    grid-row: 2;
    margin-bottom: 0em;
    word-wrap: break-word;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
#probread{
    word-wrap: break-word;
    font-size: 2em;
    color: black;
    grid-column: 2/4;
    grid-row: 3;
    margin-block-start: 1em;
    margin-block-end: 0em;
}
#containbutton{
    grid-column: 2;
    grid-row: 5;
    background-color:#231f20;
    text-align: center;
    border-radius: 10px;
    max-height:5vw ;
    max-width: 15vw;
}
#button{
    font-size: 2.4vw;
    padding: 0.75vw;
    margin: 0;
    color: #e8e4d2;

}
#fastway{
    width: 100%;
    height: 100%;
    color: none;
    cursor: pointer;
    text-decoration: none;
}
#proimg{
    grid-column: 5/8;
    grid-row: 1/10;
    overflow: hidden;
    margin-top: 5vh;
}
#find{
    /* background-color: #e26961; */
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7,13fr);
    grid-template-rows: repeat(5, 18.5vh);
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#findheader{
    word-wrap: break-word;
    font-size: 4em;
    color: black;
    grid-column: 2/4;
    grid-row: 2;
    margin-bottom: 0em;
    margin-top: 2em;
}
#findbread{
    word-wrap: break-word;
    font-size: 2em;
    color: black;
    grid-column: 2/4;
    grid-row: 3;
    padding: 10%;
}
#findimg{
    padding-left: 10%;
    grid-column: 4/6;
    grid-row: 3/6;
}
.bild{
    margin: 5%;
    width: 25%;
    height: 25%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}
html{
    height: 100%;
}
#wrapper{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #231f20;
    transition: all ease-in 521ms;
}
nav{
    width: 33%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
div{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}

#a1{
    width: 7vw;
    height: 4.3vw;
    background-color:#231f20;
    color: #e8e4d2;
}
#a2{
    width: 7vw;
    height: 4.3vw;
    background-color: #e8e4d2;
    color: #231f20;
}
#a3{
    width: 7vw;
    height: 4.3vw;
    background-color:#e26961 ;
    color: #e8e4d2;
}
/*
--purple-brown: #231f20;
--egg-shell: #e8e4d2;
--dark-peach: #e26961;
*/
#Pro{
    position: absolute;
    top: 1vw;
    font-size: 1.6vw;
    margin-left: 0.5%;
}
#Find{
    position: absolute;
    top: 1vw;
    font-size: 1.6vw;
    margin-left: 0.5%;

}
#Bio{
    position: absolute;
    top: 1vw;
    font-size: 1.6vw;
    margin-left: 0.5%;

}
#find.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#pro.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#bio.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}




/* ABout css */

#wrapperabout{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-rows: 40vh 40vh 20vh;
    background: #231f20;
    color: #e8e4d2;
}

#aboutprodject{
    grid-row: 1;
    grid-column: 2;
    margin-top:14vw;
    font-size: 2vw;
}

#containimg{
    grid-row: 2;
    grid-column: 2;
}
#containimg2{
    grid-row: 2;
    grid-column: 2;
}
#containimg3{
    grid-row: 2;
    grid-column: 2;
}

#bild1{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1569817480337-01a8b22cd8d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}

#bild2{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1579033060982-1bb5b083f4fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#bild3{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1583307709837-2d0e3a82be15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}

#leftarrow{
    grid-row:2;
    grid-column: 1;
}

#rightarrow{
    grid-row:2;
    grid-column: 3;
}

#aboutprodject{
    font-size: 5vw;
    margin-left: 20vw;
}

.hidden{
    opacity: 0;
}
#leftarrow{
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    grid-template-rows: repeat(5, 20%);
}
#leftarrow2{
    grid-row: 3;
    grid-column: 3;
    width: 33%;
    height: 20%;
}
#rightarrow{
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    grid-template-rows: repeat(5, 20%);
}
#rightarrow2{
    grid-row: 3;
    grid-column: 1;
    width: 33%;
    height: 20%;
    margin-left: 3.4vw;
}

#bild1.hidden{
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#bild2.hidden{
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#bild3.hidden{
    transition: all ease-in-out 900ms;
    -moz-transition: all ease-in-out 900ms;
}
#containbuttonabout{
    grid-column: 2;
    grid-row: 3;
    background-color:#e8e4d2;
    color:#231f20;
    text-align: center;
    margin-bottom: 9%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}
#button2{
    font-size: 2vw;
    color:#231f20;
    display: block;
    margin-block-start: 0.5vw;
    margin-block-end: 0.5vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}








 /* * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/ */

/* Smartphones (portrait) ----------- */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width : 767px)
and (min-device-width : 320px) {
    
    #containbutton{
        grid-row: 3/4;
        grid-column: 2/4;
        margin-bottom: 0px;
        max-width: 100vw;
        margin-bottom: -20%;
        max-height: 100vh;
        margin-top: 42%;
    }
    #button{
        margin-bottom: 20%;
        font-size: 4.4vw;
        padding: 1.75vw;
    }
    nav{
        width: 100%;
        height: 13vw;
        font-size: 3.9vw;
    }
    #a1{
        width: 30vw;
        height: 13.3vw;
    }
    #a2{
        width: 30vw;
        height: 13.3vw;
    }
    #a3{
        width: 30vw;
        height: 13.3vw;
    }
    #biotext{
        grid-column: 2/6;
        grid-row: 2/4;
    }
    #biobread{
        grid-column: 3/7;
        grid-row: 3/7;
        margin-top:10vw;
        margin-left:20%;
    }
    /* body{
        height: 150vh;
        width: 100vw;
    } */
    /* Styles */
    #proheader{
        grid-column: 2/7;
        grid-row: 1;
        
    }
    #probread {
        grid-column:2/7;
        grid-row: 2/4;
        margin:0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    #proimg{
        grid-row: 4/10;
        grid-column: 2/7;
    }
    #right{
        opacity: 0;
    }
    
    #findheader{
        grid-column: 2/7;
        grid-row:1/3;
        margin-bottom: 0px;
        margin-top: 5vh;
        
    }
    #findbread{
        grid-column: 2/7;
        grid-row: 2/3;
        padding: 0px;
        padding-top: 3vh;
        
    }
    #findimg{
        grid-row: 3/6;
        grid-column: 2/7;
        padding-left: 0px;
        margin-top: 5vh;
    }
    #Pro{
        position: absolute;
        top: 2vw;
        font-size: 7.5vw;
        margin-left: 2.5vw;
    }
    #Find{
        position: absolute;
        top: 2vw;
        font-size: 7.5vw;
        margin-left: 2.5vw;
        
    }
    #Bio{
        position: absolute;
        top: 2vw;
        font-size: 7.5vw;
        margin-left: 2.5vw;
    }
    
    #wrapperabout{
        
        grid-template-columns: 10fr 80fr 10fr;
        grid-template-rows: 20vh 60vh 20vh;
        
    }
    #containbuttonabout{
        margin-bottom: 20%;
        margin-top: 12%;
    }
    #button2{
        font-size: 4vw;
        margin-top: 2vw;
    }
    
    #aboutprodject{
        font-size: 7vw;
        margin-top:23vw;
        margin-left:30vw;
        margin-bottom: 10vw;
    }
    #leftarrow2 {
        grid-row: 3;
        grid-column: 2/4;
        width: 33%;
        height: 20%;
    }
    #rightarrow2 {
        grid-row: 3;
        grid-column: 1/3;
        width: 33%;
        height: 20%;
    }
    
}
@media only screen 
and (max-width : 393px) {
    nav{
    font-size:13px;
    }
    #proheader{
        font-size: 3em;
    }
    #probread{
        font-size: 1.4em;
    }
    #containbutton{
        grid-row: 3/5;
        grid-column: 2/5;
        max-width: 100vw;
        font-size: 2em;
        margin-bottom: 38%;
        max-height: 100vh;
        margin-top: 20%;
    }
    #button{
        font-size: 0.5em;
        padding: 4.75vw;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px) {
    
    #containbutton{
        grid-row: 8;
        grid-column: 2/8;
    }
    
    nav{
        width: 100%;
        height: 7vh;
        font-size: 3vw;
    }
    #Bio{
        top: 2.3vh;
        font-size: 3.6vw; 
    }
    #Pro{
        top: 2.3vh;
        font-size: 3.6vw;
    }
    #Find{
        top: 2.3vh;
        font-size: 3.6vw;
    }
    #a1{
        width: 15vw;
        height: 9vw;
    }
    #a2{
        width: 15vw;
        height: 9vw;
    }
    #a3{
        width: 15vw;
        height: 9vw;
    }
    #biotext{
        grid-column: 2/6;
        grid-row: 2/4;
        font-size: 6em;
        margin-block-start: 0px;
        margin-block-end: 0pc;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    #biobread{
        grid-column: 2/7;
        grid-row: 3/6;
        margin-top: 5vw;
        padding-right: 20%;
        margin-left: 18vw;
        font-size: 2.5rem;
    }
    /* body{
        height: 150vh;
        width: 100vw;
    } */
    /* Styles */
    #proheader{
        grid-column: 2/7;
        grid-row: 1;
        margin: 10vh 0px 0px 0px;
        font-size: 5em;
    
    }
    #probread {
        grid-column:2/4;
        grid-row: 3/4;
        margin:0px;
        font-size: 3em;
    }
    #proimg{
        grid-row: 5/11;
        grid-column: 2/8;
        margin-left: 11vh;
    }
    #right{
        opacity: 0;
    }
    #left{
        margin-left: 15vw;

        opacity: 1;
    }
    
    #findheader{
        grid-column: 2/7;
        grid-row: 1/3;
        margin-bottom: 0px;
        margin-top: 20vw;
        font-size: 6em;
        
    }
    #findbread{
        grid-column: 2/7;
        grid-row: 3/4;
        padding: 0px;
        padding-top: 0px;
        font-size: 3em;
    
    }
    #findimg{
        grid-row: 4/7;
        grid-column: 2/7;
        padding-left: 0px;
        margin-top: 0vh;
    }
    #wrapperabout{
    
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-rows: 20vh 60vh 20vh;
    
}
#containbuttonabout{
    margin-bottom: 10vw;
    margin-top: 8vw;
}
#button2{
    font-size: 4vw;
    margin-top: 2vw;
}

#aboutprodject{
    font-size: 7vw;
    margin-top:17vw;
    margin-left:30vw;
    margin-bottom: 25vw;
}
#leftarrow2 {
    grid-row: 3;
    grid-column: 2/4;
    width: 33%;
    height: 20%;
}
#rightarrow2 {
    grid-row: 3;
    grid-column: 1/3;
    width: 33%;
    height: 20%;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}





